.hero {
    min-height: 75vh;
    background-image: url('/hero.jpg');
    background-size: cover;
    position: relative;
    z-index: 1;
}

.hero:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
