name: Semantic release
on:
    push:
        branches:
            - main

jobs:
    release:
        runs-on: ubuntu-latest
        if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 12.x
            - name: Get yarn cache
              id: yarn-cache
              run: echo "::set-output name=dir::$(yarn cache dir)"
            - uses: actions/cache@v2
              with:
                  path: ${{ steps.yarn-cache.outputs.dir }}
                  key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-yarn-
            - name: Install dependencies
              run: yarn
              env:
                  NODE_AUTH_TOKEN: ${{secrets.NODE_AUTH_TOKEN}}
            - name: Release
              run: yarn semantic-release
              env:
                  CI: true
                  NODE_AUTH_TOKEN: ${{secrets.NODE_AUTH_TOKEN}}
                  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
